@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --blue: #247cc0;
  --blue-bg: #e9f2f9;
  --highlight: #e08791;
  --primary: #3f3d56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
.orla__container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
